.chat-title-list {
    max-width: 160px;
    border: none;
    font-size: 20px;
    list-style: none;
    padding: 0;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: 0.2s;
}

    .chat-item:hover {
        background-color: #35353530;
    }

.chat-selected {
    background-color: #35353530;
}

.chat-menu {
    padding: 0px;
}

.chat-title {
    margin-left: 10px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.header {
    background: #222222;
    width: 100%;
    height: 35px;
}

.tab {
    min-width: 100px;
    font-size: 12pt;
    height: 35px;
    color: white;
    text-align: center;
}

.selected-tab {
    background: #353535;
}

.title {
    height: 50px;
    color: white;
}

.chat-title {
    font-size: 14pt;
}

.chat-list {
    margin: 0px 10px;
    overflow-y: scroll;
    height: 80vh;
    padding: 0px 0px 50px 0px;
    scrollbar-color: transparent transparent
}
    .chat-list::-webkit-scrollbar {
        width: 6px;
    }

    .chat-list::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 6px;
    }
    
    .chat-list::-webkit-scrollbar::-ms-thumb:hover {
        background-color: rgba(255, 255, 255, 0.8);
    }

    .chat-list::-webkit-scrollbar-track-piece:start {
        background-color: transparent;
    }

.message {
    margin: 5px 0px;
    padding: 6px 15px;
    border-radius: 12px 12px 12px 0px;
    color: white;
    background: rgba(0, 0, 0, 0.25);
}

.message-line {
    display: flex;
    width: 100%;
    padding: 0px 10px;
    margin: 0px;
}

.right {
    margin-left: auto;
    border-radius: 12px 12px 0px 12px;
}

.message-username {
    padding: 0px;
    margin: 0px;
    color: #268e9c;
}

.message-text {
    padding: 0px;
    margin: 0px;
    opacity: 90%;
}
.message-time {
    padding: 0px;
    margin: 0px;
    opacity: 60%;
    text-align: right;
}

.chat-textblock {
    position: relative;
}

.absolute-textblock {
    padding: 0px;
    margin: 0px;
    bottom: 0px;
    position: absolute;
}
