@using WebChatClientWebSite.Models;
@if (Message != null)
{
    <div class="container message-line">
        <div class="message @ToRight(Message.Id)">
            <p>@GetUserName(Message.Id)</p>
            <p>@Message.text</p>
            <p>@Message.SendTime.ToString("HH:mm")</p>
        </div>
    </div>

}

@code {
    [Parameter]
    public User User { get; set; } = null!;
    [Parameter]
    public Message Message { get; set; } = null!;
    [Parameter]
    public ICollection<User> Users { get; set; } = null!;

    private string GetUserName(string userId)
    {
        return Users.Where(user => user.Id == userId)
                    .Select(user => user.UserName).FirstOrDefault() ?? "";
    }

    private string ToRight(string userId)
    {
        if (User.Id == userId)
            return "right";
        return "";
    }
}
