@using Microsoft.AspNetCore.Components
<div class="chat-item" @onclick="OpenChat">
    <div class="chat-title">@ChatTitle</div>
</div>

@code {
    [Parameter]
    public int ChatId { get; set; }

    [Parameter]
    public string ChatTitle { get; set; } = null!;

    [Parameter]
    public EventCallback<int> OnChatClick { get; set; }

    private async Task OpenChat()
    {
        await OnChatClick.InvokeAsync(ChatId);
    }
}
