@using Microsoft.AspNetCore.Components
@using WebChatClientWebSite.Models;
<div class="chat-item @GetSelectedChat(ChatId)" @onclick="OpenChat">
    <div class="chat-title">@ChatTitle</div>
</div>

@code {
    [Parameter]
    public int ChatId { get; set; }

    [Parameter]
    public string ChatTitle { get; set; } = null!;

    [Parameter]
    public Chat? SelectedChat { get; set; }

    [Parameter]
    public EventCallback<int> OnChatClick { get; set; }

    private async Task OpenChat()
    {
        await OnChatClick.InvokeAsync(ChatId);
    }

    private string GetSelectedChat(int chatId)
    {
        if (SelectedChat != null && SelectedChat.ChatId == chatId)
            return "chat-selected";
        else return "";
    }
}
